body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: left; /* Alterado para alinhar o texto à esquerda */
}

h1 {
    color: #000000;
}

form {
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffcc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle; /* Ajustado para centralizar os botões de seleção verticalmente */
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

button {
    background-color: #0066ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

/* Responsividade */
@media screen and (max-width: 1600px) {
    form {
        max-width: 800px;
    }
}

@media screen and (max-width: 280px) {
    form {
        max-width: 250px;
    }
}
